body{
    margin: 0;
    background-color: #111;
    background-image: url(Solidarity.svg),linear-gradient(75deg, #9deeff, #93beff 75%);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0;
}

.header-container{
    top: 0;
    width: 95%;
    height: 10vh;
    padding: 1% 0% 0% 5%;
    opacity: 0;
    background-color: white;
    position: fixed;
    transition: all;
    transition-duration: 300ms;
    transition-delay: 10ms;
}

.header-image{
    width: 4%;
    top: -16%;
    position: relative;
    float: left;
}

.header-content{
    line-height: 1.5;
    text-align: center;
    color: #0a0d0e;
    font-family: "Fondamento",cursive;
    font-size: 25px;
    font-weight: 900;
    position: relative;
    float: left;
    left: 2%;
    top: -40%;
}

.vl{
    position: inherit;
    width: 0.1%;
    height: 9%;
    background-color: #000;
    left: 33%;
    top: 1.5%;
    opacity: 0.7;
}

.sub-content{
    position: relative;
    left: 5%;
    top: -5%;
    font-size: 20px;
    font-family:'Century Gothic', Helvetica, Arial, sans-serif;
}

.page-content{
    height: 100vh;
    text-align: center;
}
hr{
    border: none;
    width: 10%;
    height: 1%;
    background-color: #1D509F;
    z-index: -1;
}

hr.first{
    position: relative;
    left: 48.3%;
    top: 32%;
}
hr.second{
    position: relative;
    left: 63%;
    top: 48%;
}

.title{
    top: 15%;
    position: relative;
    font-family: "Germania One", cursive;
    font-size: 100px;
    float: right;
    right: 2%;
    color: #1D509F;
    font-weight: 900;
    letter-spacing: 15px;
    z-index: -1;
}

.sub-title{
    top: 35%;
    position: relative;
    font-family: "Fondamento",cursive;
    font-size: 25px;
    float: right;
    right: -32%;
    color: #1D509F;
    font-weight: 600;
    letter-spacing: 5px;
    z-index: -1;
}

.des{
    top: 50%;
    position: relative;
    font-family: "Fondamento",cursive;
    font-size: 17px;
    float: right;
    right: -57%;
    background-color: #9ed16f;
    color: #fff;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 1% 2%;
    border-radius: 30px 0;
    line-height: 1.2;
    z-index: -1;
}

.wel{
    top: 56%;
    position: relative;
    font-family: "Germania One", cursive;
    font-size: 61px;
    color: #45258f;
    text-shadow: 2px 1px 2px rgb(1 1 1 / 75%);
    z-index: -1;
    opacity: 0;
    animation-name: welcome;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    letter-spacing: 40px;
    float: right;
    left: 35%;
}

.nav-down{
    top:0;
    width: 100%;
}

ul {
    position: relative;
    top: 6vh;
    list-style-type: none;
    margin: 0;
    padding-left: 0%;
    overflow: hidden;
    font-family:'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 18px;
    float: left;
    width: 100%;
}

li{
    margin-left: 5%;
    width: 15%;
    background: #f3f3f3;
    border-left: 1px solid #00BFFF;
}

li a{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 900;
}

li a:hover:not(.active){
    color: #00BFFF;
    transition-property: all;
    transition-delay: 5ms;
}

li a.active {
    background-color: #00BFFF;
    color:white;

}

.container {
    width: 50%;
    height: 49.6vh;
    background-color: #00BFFF;
    border: 1px solid #00BFFF;
    border-left: none;
    margin-left: 20%;
    padding: 4% 12% 4% 12%;
    text-align: justify;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
    color: #000;
    position: relative;
    top: 6vh;
}

::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: #757575; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color:#00BFFF ; 
  }

@keyframes welcome {
    from {opacity: 0;}
    to {opacity: 1;}
}