.nav-down{
    top:0;
    width: 100%;
}

ul {
    position: relative;
    top: 6vh;
    list-style-type: none;
    margin: 0;
    padding-left: 0%;
    overflow: hidden;
    font-family:'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 18px;
}

li{
    margin-left: 5%;
    width: 15%;
    background: #f3f3f3;
    border-left: 1px solid #00BFFF;
}

li a{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 900;
}

li a:hover:not(.active){
    color: #00BFFF;
    transition-property: all;
    transition-delay: 5ms;
}

li a.active {
    background-color: #00BFFF;
    color:white;

}

.container {
    width: 50%;
    height: 49.1vh;
    background-color: #00BFFF;
    border: 1px solid #00BFFF;
    border-left: none;
    margin-left: 20%;
    padding: 6% 12%;
    text-align: justify;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
    color: #000;
    position: relative;
    top: -67.4vh;
   
}

::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: #757575; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color:#00BFFF ; 
  }