body{
    margin: 0;
    background-color: #24292e;
    background-image: url(star-bg.svg),linear-gradient(#191c20, #24292e 15%);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0;
}

.header-container{
    top: 0;
    width: 95%;
    height: 10vh;
    padding: 1% 0% 0% 5%;
    opacity: 0;
    background-color: white;
    position: fixed;
    transition: all;
    transition-duration: 300ms;
    transition-delay: 10ms;
}

.header-image{
    width: 3%;
    float: left;
}

.header-content{
    line-height: 1.5;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 18px;
    font-weight: 900;
    width: 20%;
    position: relative;
    top: -20%;
    text-shadow: 2px 1px 2px rgb(0 0 0 / 60%);
}

.page-content{
    height: 100vh;
    text-align: center;
}

.wel{
    top: 40%;
    position: relative;
    font-family: "Germania One", cursive; 
    font-size: 100px;
    color: whitesmoke;
    text-shadow: 2px 1px 2px rgb(1 1 1 / 75%);
    z-index: -1;
    opacity: 0;
    animation-name: welcome;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    /**/
}

.nav-down{
    top:0;
    width: 100%;
}

ul {
    position: relative;
    top: 6vh;
    list-style-type: none;
    margin: 0;
    padding-left: 0%;
    overflow: hidden;
    font-family:'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 18px;
    float: left;
    width: 100%;
}

li{
    margin-left: 5%;
    width: 15%;
    background: #f3f3f3;
    border-left: 1px solid #00BFFF;
}

li a{
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 900;
}

li a:hover:not(.active){
    color: #00BFFF;
    transition-property: all;
    transition-delay: 5ms;
}

li a.active {
    background-color: #00BFFF;
    color:white;

}

.container {
    width: 50%;
    height: 48.8vh;
    background-color: #00BFFF;
    border: 1px solid #00BFFF;
    border-left: none;
    margin-left: 20%;
    padding: 6% 12%;
    text-align: justify;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 2;
    color: #000;
    position: relative;
    top: 6vh;
   
}

::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background-color: #757575; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color:#00BFFF ; 
  }

@keyframes welcome {
    from {opacity: 0;}
    to {opacity: 1;}
}